$white: #ffffff;
$black: #000000;
$black-1: #222222;
$shadow: rgba(0, 0, 0, 0.1);
$orange: #fd712c;
$gray: #f7fafc;
$gray-1:#eeeeee;
$gray-dark: #777777;
$gray-2: #aaaaaa;
$gray-3: #d6d6d6;
$fucsiya: #f31f79;
$tablet-width-min: 579px;
$tablet-width: 768px;
$desktop-width-min: 1024px;
$desktop-width-mid: 1200px;
$desktop-width: 1400px;
